body {
	background-color: #323D53;
	color: #E6E9EF;
}

code {
background-color: #434C5E;
padding:  0px 3px;
border: 0px solid #434C5E;
border-radius: 3px ;
font-family: Ubuntu Mono;
font-size: 18px;
}

a {
color: #E99620;
}
pre {
	background-color: #434C5E;
font-family: Ubuntu Mono;
	/*line-height:300%;*/
	padding: 25px;
  border: 0px solid #434C5E;
  border-radius: 5px ;
}
table{ border-collapse: collapse;}
th {
border: 1px solid #6B7892;
padding: 15px;
}
td {
border: 1px solid #6B7892;
padding: 10px;
}

hr {
  border-top: 1px solid #6B7892;
  border-bottom: 0px red;
  }
